<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">stadium</th>
            <th scope="col">owner</th>
            <th scope="col">foundaition</th>
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of teams">
            <th scope="row">{{t.id}}</th>
            <td>{{t.name}}</td>
            <td>{{t.stadium}}</td>
            <td>{{t.owner}}</td>
            <td>{{t.fondation}}</td>
            <td>
                <button class="btn btn-info" (click)="displayTeam(team.id)">Display</button>
                <button class="btn btn-warning">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>